.area-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-sq {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border: 1px solid rgb(0, 0, 0);
    color: blue;
    font-size: 150px;
}
